@keyframes swing
{
    15%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

body {
  background-color: #2196f3;
  font-family: Roboto;
}

.logo {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 0px;
  @media only screen and (min-width: 601px) {
    font-size: 35px;
  }
  font-size: 20px;
  text-align: center;
  color: #e3f2fd;
}

#nearbycoder {
  font-family: 'Press Start 2P', cursive;
  @media only screen and (min-width: 601px) {
    font-size: 20px;

  }
  font-size: 15px;
  text-align: center;
  color: #bbdefb;
}

.grav {
  margin-top: 10px;
}
.about-me {
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px!important;
  font-weight: 500;
  font-family: 'Roboto';
}
.my-info {
  display:none;
}
.collection {
  margin: 0;
}
.borderbox {
  border: 1px solid rgb(224, 224, 224);
}
.rotate:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.rotate-opposite:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.center {
  text-align: center;
}
.margins {
  margin-left: 1px!important;
  margin-right: 1px!important;
}
.title {
  text-align: left;
}

.progress {
  height: 20px;
}
.determinate {
  height: 25px;
}
.skills {
  display: none;
}